@model IEnumerable<EmployeeViewModel>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Issuing Date</th>
            <th>Period</th>
            <th>Hours</th>
            <th>Sum</th>
            <th>Business Trip Hours</th>
            <th>Sum</th>
            <th>Holiday Hours</th>
            <th>Sum</th>
            <th>Extra Hours</th>
            <th>Sum</th>
            <th>Paid Days Off</th>
            <th>Sum</th>
            <th>Unpaid Days Off</th>
            <th>Sick Days Off</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td class="bg-success text-primary" colspan="15">@employee.ToString()</td>
            </tr>
            @foreach (var paycheck in employee.Paychecks)
            {
                <tr>
                    <td>@paycheck.Date.ToString(Constants.DateTimeFormats.Short)</td>
                    <td>@paycheck.Period.From.ToString(Constants.DateTimeFormats.Short) | @paycheck.Period.To.ToString(Constants.DateTimeFormats.Short)</td>
                    <td>@paycheck.WorkingHours.Hours</td>
                    <td class="text-primary">@paycheck.SubTotals.PayForHours</td>
                    <td>@paycheck.WorkingHours.HourOnBusinessTrip</td>
                    <td class="text-primary">@paycheck.SubTotals.PayForBusinessTrip</td>
                    <td>@paycheck.WorkingHours.HourOnHolidays</td>
                    <td class="text-primary">@paycheck.SubTotals.PayForHolidayHours</td>
                    <td>@paycheck.WorkingHours.ExtraHours</td>
                    <td class="text-primary">@paycheck.SubTotals.PayForExtraHours</td>
                    <td>@paycheck.DaysOff.PaidDaysOff</td>
                    <td class="text-primary">@paycheck.SubTotals.PayForPayedDaysOff</td>
                    <td>@paycheck.DaysOff.UnpaidDaysOff</td>
                    <td>@paycheck.DaysOff.SickDaysOff</td>
                    <td class="text-success">@paycheck.Total</td>
                </tr>
            }
        }
    </tbody>
</table>
