@using Wilson.Scheduler.Core.Enumerations

@model IDictionary<EmployeeConciseViewModel, List<ScheduleViewModel>>

<table class="table table-responsive">
    <thead>
        <tr>
            <th>Date</th>
            <th>Scheduled As</th>
            <th>Project</th>            
            <th>Work Hours</th>
            <th>Extra Work Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var groupOfSchedules in Model)
        {    
            <tr>
                <td class="text-primary success" colspan="6">@groupOfSchedules.Key.ToString()</td>
            </tr>
            foreach (var employeeSchedule in groupOfSchedules.Value)
            {
                <tr>
                    <td>@employeeSchedule.Date.ToString(Constants.DateTimeFormats.Short)</td>
                    <td>@employeeSchedule.ScheduleOptionName</td>
                    @if (employeeSchedule.Project != null)
                    {
                        <td>@employeeSchedule.Project.ShortName</td>
                    }
                    else
                    {
                        <td></td>
                    }                    
                    @if (employeeSchedule.ScheduleOption == ScheduleOption.AtWork)
                    {
                        <td>@employeeSchedule.WorkHours</td>
                        <td>@employeeSchedule.ExtraWorkHours</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                    }
                    <td>
                        <a asp-area=@Constants.Areas.Scheduler
                           asp-controller="Home"
                           asp-action=@nameof(HomeController.EditSchedule)
                           asp-route-id="@employeeSchedule.Id">Edit
                        </a>
                    </td>
                </tr>
            }            
        }
    </tbody>
</table>