@model PayrollViewModel

<form asp-area=@Constants.Areas.Accounting asp-controller="Home" asp-action=@nameof(HomeController.Payroll) method="post" class="form-horizontal">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <h4 class="text-primary">Find Payrolls</h4>
    <hr />
    <div class="form-group">
        <label asp-for="EmployeeId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="EmployeeId" class="form-control">
                <option value="">Select all</option>
                @foreach (var employee in Model.EmployeeOptions)
                {
                    <option value=@employee.Value>@employee.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="From" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="From" class="form-control" type="date" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="To" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="To" class="form-control" type="date" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Find</button>
        </div>
    </div>
</form>

@if (Model.Employees != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="7">
                    <div id="cover" hidden></div>
                    <div id="message" role="alert" hidden></div>
                </th>
            </tr>
            <tr>
                <th>Issuing Date</th>
                <th>Period</th>
                <th>Total</th>
                <th>Payments</th>
                <th>Total Payed</th>
                <th>Difference</th>
                <th>Make Payment</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td class="bg-success text-primary" colspan="7">@employee.ToString()</td>
                </tr>
                @foreach (var paycheck in employee.Paycheks)
                {
                    <tr>
                        <td>@paycheck.Date.ToString(Constants.DateTimeFormats.Short)</td>
                        <td>@paycheck.Period.From.ToString(Constants.DateTimeFormats.Short) | @paycheck.Period.To.ToString(Constants.DateTimeFormats.Short)</td>
                        <td class="text-success">@paycheck.Total</td>
                        <td>
                            @foreach (var payment in paycheck.Payments)
                            {
                                <p>@payment.Date.ToString(Constants.DateTimeFormats.Short) - @payment.Amount</p>
                            }
                        </td>
                        <td class="text-primary">@paycheck.PayedAmount</td>
                        <td class="text-danger">@paycheck.Diffrence</td>
                        <td>
                            @await Component.InvokeAsync(
                           "AddPaycheckPayment",
                           new { From = paycheck.Period.From, To = paycheck.Period.To, EmployeeId = employee.Id, PaycheckId = paycheck.Id })
                    </td>
                </tr>
                }
            }
            <tr class="text-danger">
                <td colspan="2">Sum</td>
                <td>@Model.TotalPaycheksSum</td>
                <td></td>
                <td>@Model.TotalPaymentsSum</td>
                <td>@Model.TotalDiffrenceToBePayed</td>
                <td>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <button onclick="addPaychecksPayments()" type="submit" class="btn btn-default">Pay All</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}




