@model EmployeesShcedulerViewModel

@if (Model.LastScheduledEmployees.Count() > 0)
{
    @Html.DisplayFor(m => m.LastScheduledEmployees, "Schedule")
    <hr />
}

@if (!Model.IsTodayScheduleCreated)
{
    <form asp-area=@Constants.Areas.Scheduler asp-controller="Home" asp-action=@nameof(HomeController.EmployeesScheduler)
          method="post" class="form-horizontal">
        @Html.AntiForgeryToken()
        <p class="lead text-primary">Create Schedule for @Model.Today</p>
        <div asp-validation-summary="All" class="text-danger"></div>
        @Html.EditorFor(m => m.Employees, "_EmployeeScheduleEdirorTemplate")
        <div class="form-group">
            <div class="col-md-10">
                <button type="submit" class="btn btn-warning">Save Schedule</button>
            </div>
        </div>
    </form>
}
else
{
    <p class="lead text-primary">Schedule for @Model.Today has been already created.</p>
    <a asp-area=@Constants.Areas.Scheduler
       asp-controller="Home"
       asp-action=@nameof(HomeController.EditSchedules)
       asp-route-dateTime=@Model.Today>Edit @Model.Today Schedule?</a>
}