@model SearchViewModel

<form asp-area=@Constants.Areas.Scheduler asp-controller="Home" asp-action=@nameof(HomeController.Search) class="form-horizontal" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    <h4 class="text-primary">Schedule Search</h4>
    <hr />
    <div class="form-group">
        <label asp-for="From" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="From" class="form-control" type="date" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="To" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="To" class="form-control" type="date" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ScheduleOption" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="ScheduleOption" class="form-control">
                <option value="">Select all</option>
                @foreach (var scheduleOption in Model.ScheduleOptions)
                {
                    <option value=@scheduleOption.Value>@scheduleOption.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="ProjectId" class="form-control">
                <option value="">Select all</option>
                @foreach (var project in Model.ProjectOptions)
                {
                    <option value=@project.Value>@project.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="EmployeeId" class="form-control">
                <option value="">Select all</option>
                @foreach (var employee in Model.EmployeeOptions)
                {
                    <option value=@employee.Value>@employee.Text</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Search</button>
        </div>
    </div>
</form>

@if (Model.Employees != null)
{
    @Html.DisplayFor(m => m.Employees, "Schedule")
}
